	html, body {
		margin: auto;
		width: 90%;
		height: 91%;
		font-family: Helvetica; 
	}
	.container {
		min-height: 80%;
	}
	.footer {
		height: 20%;
		font-size: .8em;
	}
	.topMargin {
		margin-top: 18px;
	}
	.topMarginMedium {
		margin-top: 25px;
	}
	.topMarginLarge {
		margin-top: 50px;
	}
	.topPadding {
		padding-top: 15px;
	}
	.padding {
		padding: 10px;
	}
	html {
		text-align: center;
	}
	body {
		font-size: 2.2em;
	}
	.scores {
		font-size: 1.2em;
	}
	.h1 {
		font-size: 3.1em;
	}
	.button {
		width: 190px;
		height: 65px;
		font-size: 1em;
		background-color: #92a8d1;
		color: black;
	}
	.bottomLinks {
		margin-top: 30px;
	}
	.smallText {
		font-size: .7em;
	}
	.bold {
		font-size: 1.3em;
		font-weight: 600;
	}
	.big {
		font-size: 2.2em;
	}
	.quizChoiceButton {
		padding-left: 5px;
		padding-right: 5px;
	}
	.underlined {
		text-decoration: underline;
	}
	.inputText{
	width:300px;
	hieght:100px;
	font-size: 20pt;
	border: solid 2px;
	border-color: blue;
	}
	.questionChoice{
	width:100px;
	hieght:100px;
	font-size: 16pt;
	}
	
	.questionChoice option{
	width:100px;
	hieght:100px;
	font-size: 16pt;
	}
	.quizButtonRow{
	display: flex;
	flex-direction: column;
	}
	.quizChoiceButton{
	padding: 15px;
	}

@media (min-width : 600px) {
		html, body {
		margin: auto;
		width: 90%;
		height: 91%;
		font-family: Helvetica; 
	}
	.container {
		min-height: 80%;
	}
	.footer {
		height: 20%;
		font-size: .8em;
	}
	.topMargin {
		margin-top: 18px;
	}
	.topMarginMedium {
		margin-top: 25px;
	}
	.topMarginLarge {
		margin-top: 50px;
	}
	.topPadding {
		padding-top: 15px;
	}
	.padding {
		padding: 10px;
	}
	html {
		text-align: center;
	}
	body {
		font-size: 2.2em;
	}
	.scores {
		font-size: 1.2em;
	}
	.h1 {
		font-size: 3.1em;
	}
	.button {
		width: 190px;
		height: 65px;
		font-size: 1em;
		background-color: #92a8d1;
		color: black;
	}
	.bottomLinks {
		margin-top: 30px;
	}
	.smallText {
		font-size: .7em;
	}
	.bold {
		font-size: 1.3em;
		font-weight: 600;
	}
	.big {
		font-size: 2.2em;
	}
	.quizChoiceButton {
		padding-left: 5px;
		padding-right: 5px;
	}
	.underlined {
		text-decoration: underline;
	}
	.inputText{
	width:300px;
	hieght:100px;
	font-size: 20pt;
	border: solid 2px;
	border-color: blue;
	}
	.questionChoice{
	width:100px;
	hieght:100px;
	font-size: 16pt;
	}
	
	.questionChoice option{
	width:100px;
	hieght:100px;
	font-size: 16pt;
	}
	.quizButtonRow{
	display: flex;
	flex-direction: column;
	}
	.quizChoiceButton{
	padding: 15px;
	}

}